@import "../../sass/index.scss";

.main_gallery {
  display: flex;
  background-color: $color-grey;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px 0;
  border-radius: 25px;
  padding: 50px;
  justify-content: space-between;

  @media screen and (max-width: 375px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
