@import "../../sass/index.scss";

.main_gallery {
  display: flex;
  background-color: $color-grey;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px 0;
  border-radius: 25px;
  padding: 50px;
  justify-content: space-between;

  @media screen and (max-width: 412px) {
    flex-direction: column;
    gap: 25px;
    padding: 25px;
  }
}
