$color-1: #ff6060;
$color-2: white;

.logement-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: $color-1;
  margin-top: 50px;

  img {
    border-radius: 20px;
  }

  h2 {
    align-self: flex-start;
    margin: 10px;
  }

  h4 {
    align-self: flex-start;
    margin: 10px;
  }

  .logement-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    li {
      margin: 10px;
      color: $color-2;
      background-color: $color-1;
      padding: 10px;
      border-radius: 20px;
    }

    ul {
      display: flex;
      flex-direction: row;
    }
  }

  .logement-collapse {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
    justify-content: space-between;
  }

  .collapse {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 48%;
  }

  .hebergement-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logement-host {
      display: flex;
      justify-content: center;
      margin: 20px;
      align-items: center;
      gap: 10px;

      img {
        width: 30%;
        border-radius: 50%;
      }
    }

    .logement-rating {
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }
  }

  .loader-container {
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    animation: load 1.7s ease-in-out;
    z-index: -1;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 672px) {
    .logement-collapse {
      flex-direction: column; /* Affichage en colonne pour les collapses sur les petits écrans */
    }

    .collapse {
      width: 100%; /* La largeur de chaque collapse occupe la largeur totale sur les petits écrans */
      margin-bottom: 20px; /* Ajoutez une marge en bas pour l'espacement entre les collapses */
    }

    .hebergement-container {
      flex-direction: row; /* Affichage en colonne pour les éléments de l'hébergement sur les petits écrans */

      .logement-host {
        margin-bottom: 20px; /* Ajoutez une marge en bas pour l'espacement entre l'hôte et la note */
      }
    }
    .logement-hostRating {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }

    .hebergement-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @media screen and (max-width: 467px) {
    .logement-tags li {
      margin: none;
    }
  }

  @media screen and (max-width: 400px) {
    .logement-tags li {
      padding: 3px;
    }
  }
}

.carrousel-container {
  width: 100%;
}
