@import "../../sass/index.scss";

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/image/IMG.png");
    background-position: center;
    background-size: cover;
    height: 223px;
    padding: 20px;
    width: 100%;
    margin: 43px auto;
    
  
    p {
      color: $color-white;
      font-size: 48px;
      font-weight: 500;
    }
  }